/* Global Styling */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px;
}


/* Header Styling */

header {
    background-color: #86d376;
    padding: 20px;
    color: #333333;
    text-align: center;
}


/* NavBar Styling */

nav {
    background-color: #86d376;
    overflow: hidden;
}

.navigation ul {
    list-style: none;
}

