{% extends 'base.html' %}
{% block content %}

    <h2>Add a new recipe</h2>
    <form method="POST">
        <label>Recipe Name:
            <input type="text" name="recipe_name">
        </label>

        <div id="ingredients-container">
            <label>Ingredients:
                <input type="text" name="ingredients[]">
            </label>
        </div>
        <button type="button" id="add-ingredient-button">Add another ingredient</button>

        <label>Method:
            <textarea type="text" name="method" rows="5" cols="50" style="resize: vertical;"></textarea>
        </label>
        <label>Time (minutes):
            <input type="number" name="time">
        </label>
        <label>Cuisine:
            <select name="cuisine_id">
                {% for cuisine in cuisines %}
                    <option value="{{ cuisine.cuisine_id }}">{{ cuisine.cuisine_name }}</option>
                {% endfor %}
            </select>
        </label>
    <button type="submit">Add Recipe</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
