{% extends 'base.html' %}
{% block content %}
    <h2>Welcome to RecipeShare. Browse through our cuisines to find some recipes you like!</h2>
    <ul class="card-list">
        {% for cuisine in cuisines %}
        <li><a href="{{ url_for('cuisine_category', cuisine_id=cuisine.cuisine_id)}}">{{ cuisine.cuisine_name }}</a></li>
        {% endfor %}
    </ul>
    <button id="random-recipe" type="button">Surprise Me!</button>
{% endblock %}

{% block scripts %}
    <script>
        var recipeUrls = {{ recipe_urls | tojson }};
        console.log('recipeUrls:', recipeUrls); // For debugging
    </script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
