{% extends 'base.html' %}
{% block content %}
    <h2>{{ recipe.recipe_name }}</h2>
    <p>Added by {{ recipe.chef.username }} on {{ recipe.date_added }}</p>

    <h3>Time:</h3>
    <p> {{ recipe.total_time }} minutes</p>

    <h3>Ingredients</h3>
    <ul>
        {% for ingredient in ingredients %}
        <li>{{ingredient}}</li>
        {% endfor %}
    </ul>

    <h3>Method</h3>
    <p> {{recipe.method }} </p>

{% if current_user.is_authenticated %}
    <!-- [html-validate-disable attribute-allowed-values] -->
    <form action="{{ url_for('favorite_recipe', recipe_id=recipe.recipe_id) }}" method="POST">
        <button type="submit">Favorite recipe</button>
    </form>
{% else %}
    <p><a href="{{ url_for('login_page') }}">Log in</a> to favorite this recipe</p>
{% endif %}

{% endblock %}
